html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.iframe-container {
  display: flex;
  height: 95%;
  width: 95%;
  background: rgb(255 214 234 / 75%);
  border-radius: 15px;
  background-size: cover;
  /* background-image: url("./background/chrismas.png"); */
}

iframe {
  border: none;
  position: fixed;
  left: -100px;
  height: 230px;
  width: 600px;
}